.PizzaLink,.DoughLink{
    text-decoration: none;
}
.Contents{
    width:350px ;
    height:auto;
}
.Photo#Pizza,#Dough{
    width: 350px;
    height: auto;
}
span.FirstWord{
    color: red;
    text-shadow: 2px 2px black;
}
span.SecondWord{
    color: white;
    text-shadow: 2px 2px black;
}
span.ThirdWord{
    color: green;
    text-shadow: 2px 2px black;
}
