.PizzaLink,.DoughLink{
    text-decoration: none;
}
.Contents{
    width:350px ;
    height:auto;
}
.Photo#Pizza,#Dough{
    width: 350px;
    height: auto;
}
.Title1{
    color: red;
}
.Title2{
    color: rgb(10, 175, 10);
}